body {
  background-color: #0f0f1a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.tabuleiro, #tabuleiro {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.carta {
  width: 120px;
  height: 120px;
  background-color: #2a2a40;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s;
}

.carta.virada {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}

.frente {
  background: #444;
}

.frente::after {
  content: "⚡";
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.verso {
  transform: rotateY(180deg);
}

.verso img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
